#naslov{
  color:red;
}
.drzac_profila{
  display: inline-block;
  height:200px;
  width:180px;
  border:1px solid black;
  border-radius: 10px;
  margin: 5px;
}
.div_slika{
  height:150px;
  width:180px;
  border-radius: 10px;
  border-bottom: 1px solid black;
}
.div_slika > img{
  border-radius: 10px;
  width:177px;
}
.div_manji_opis{
  display: inline-block;
  height:50px;
  width:90px;
  text-align: center;
  border-radius: 10px;
}
.div_cena{
  display: inline-block;
  height:50px;
  width:82px;
  text-align: center;
  border-radius: 10px;
}
